services:
  mariadb:
    image: mariadb:12.0
    restart: unless-stopped
    environment:
      MARIADB_USER: ${MARIADB_USER:-test}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD:-test}
      MARIADB_DATABASE: ${MARIADB_DATABASE:-test}
      MARIADB_RANDOM_ROOT_PASSWORD: 1
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - mariadb_data:/var/lib/mysql
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  mariadb_data: {}
